<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>

<form action="" method="post">
    <table align="center" border="1">
            <tr>
                <td>{{ uu.name }}</td>
                <td><input type="text" name="name" placeholder="姓名"></td>
            </tr>
            <tr>
                <td>{{ uu.password }}</td>
                <td><input type="password" name="password" placeholder="密码"></td>
            </tr>
            <tr>
                <td><button>提交更改</button></td>
            </tr>
    </table>
</form>
</body>
</html>